@charset "utf-8";

* {
	margin: 0px;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align: center;
	-webkit-text-size-adjust: 100%;
	background-color: #202D1F; /* 背景色 */
	color: #FFFFFF; /* 文字色 */
}
img {
	border-style: none;
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}



#menu_button {
	position: fixed;
	top: 0px;
	left: 0px;
	cursor: pointer;
	z-index: 4;
	display: inline-block;
	width: 45px;
	height: 45px;
}
#menu_button_line {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 2px;
	margin: -1px 0px 0px -7px;
	background-color: #FFFFFF;
	transition-duration: 0.2s;
}
#menu_button_line:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	width: 16px;
	height: 2px;
	background-color: #FFFFFF;
	transition-duration: 0.3s;
	margin-top: -7px;
}
#menu_button_line:after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	width: 16px;
	height: 2px;
	background-color: #FFFFFF;
	transition-duration: 0.3s;
	margin-top: 5px;
}
#menu_button .close {
	background-color: transparent;
}
#menu_button .close:before {
	margin-top: 0px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
#menu_button .close:after {
	margin-top: 0px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
#overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(16,29,15,0.80);
	z-index: 2;
}

header {
	height: 100px;
	border-bottom: 1px solid #546F53;
}
#header_block {
	z-index: 1;
}
#site_title {
	position: absolute;
	left: 0px;
	right: 0px;
	font-size: 28px; /* タイトルの文字サイズ */
	margin-top: 30px; /* タイトル上部の空白 */
}
#site_title a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#site_title a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#main_menu > nav {
	position: fixed;
	margin-top: -1000px; /* リロード時のメニュー表示を防ぐ */
	width: 100%;
	z-index: 3;
	background-color: #202D1F;
}
#main_menu > nav > ul {
	padding-left: 0px;
}
#main_menu > nav > ul > li {
	list-style-type: none;
	border-bottom: 1px solid #546F53;
}
#main_menu > nav > ul > li > a:link {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}
#main_menu > nav > ul > li > a:visited {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* 本文のデザイン */
article{
}
article a:link {
	color: #2D75E4; /* 未訪問のリンクカラー */
}
article a:visited {
	color: #225CB8; /* 訪問済みのリンクカラー */
}
.block {
	clear: both;
	border-bottom: 1px solid #546F53;
}
.content {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	text-align: justify; /* 均等割付 */
	text-justify: inter-ideograph; /* 均等割付 */
}
.content h1 {
	font-size: 24px;
	padding-bottom: 10px;
}
.content h2 {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.content p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.font_design1 {
	font-weight: bold; /* 太字 */
}
.font_design2 {
	color: #D51417; /* 赤字 */
}
.supplement {
	font-size: 80%;
	color: #8A8A8A; /* 補足 */
}
blockquote {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	background-image: url(images/blockquote1.png), url(images/blockquote2.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right bottom;	
}

/* ul ol リストのデザイン */
.list_design {
	padding-top: 10px;
	padding-bottom: 10px;

}
.list_design > li {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* === フィルタボタン ============================ */
.tfArea{
  display    : inline-block;
  position   : relative;
}
.tfImg{
  display    : inline-block;
  width      : 8px;
  height     : 8px;
  background : #eee;
  border     : 1px solid #777;
  margin     : 1px 3px;
  padding    : 3px;
  cursor     : pointer;
}
/* === フィルタボタン（カーソルオーバー時）======= */
.tfImg:hover{
  background : #FFD700;
}
/* === フィルタボタン内の画像色（SVG）============ */
.tfImg path{
  fill       : #777;
}
/* === フィルタリスト ============================ */
.tfList{
  display    : inline-block;
  position   : absolute;
  max-width  : 250px;
  min-width  : 140px;
  background : #fff;
  border     : 1px solid #777;
  top        : 15px;
  left       : 0;
  line-height: 1.1;
  font-weight: normal;
}
/* === フィルタリスト内のform ==================== */
.tfList form{
  max-height : 150px;           /* 縦幅 */
  overflow   : scroll;
  overflow   : overflow-y;
  overflow   : auto;
}
/* === フィルタリスト内のチェックボックス ======== */
.tfMeisai{
  text-align : left;
  padding    : 2px;
}
/* === フィルタリスト内の文字位置合わせ ========== */
.tfMeisai label{
  padding    : 0 10px 0 3px;
}
/* === OK/CANCELボタン =========================== */
.tfBtnArea{
  text-align : center;
  font-size  : 8pt;
  padding    : 3px 5px;
}
.tfBtnArea input{
  display    : inline-block;
  margin     : 0 5px;
}
/* === 含むボタンの入力エリア ==================== */
.tfInStr{
  padding    : 5px 3px;
  border-top : 1px solid #999;
  border-bottom: 1px solid #999;
}
.tfInStr input{
  box-sizing : border-box;
  width      : 100%;
  padding    : 1px 3px;
  font-weight: normal;
  font-size  : 95%;
  border     : 1px solid #ccc;
}
/* === フィルタ非表示 ============================ */
#minilist tr[cmanFilterNone]{
  display    : none;
}
/* === フィルタ非表示行と次行の間を二重線にする == */
#minilist tr[cmanFilterNone] + tr td{
  border-top : 3px double #777;
}

/* テーブルのデザイン */
.table_design1 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.table_design1 th {
	color:white;
	text-align: left;
	font-weight: normal;
	padding: 10px;
	background-color: #344A33;
}
.table_design1 td {
	color:white;
	padding: 10px;
	background-color: #3C563B;
	border:double 2px #FFFFFF;
}

/* faq のデザイン */
.faq {
	margin-top: 10px;
	margin-bottom: 10px;
}
.faq dt {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2em;
	text-indent: -2em;
}
.faq dd {
	border-bottom: #546F53 1px solid;
	padding-bottom: 10px;
	padding-left: 2em;
	text-indent: -2em;
}
.faq dt:first-child {
	border-top: #546F53 1px solid;
}
.faq .qa {
	padding-right: 1em;
}



/* footer */
footer {
	clear: both;
	padding-top: 50px;
	padding-bottom: 50px;
}
footer p {
	padding-top: 5px;
	padding-bottom: 5px;
}
footer a:link {
	color: #FFFFFF;
	text-decoration: none;
}
footer a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/* トップへ戻る */
#back_top {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
}



@media only screen and (min-width: 800px) { /* js ブレークポイント[800] */
#menu_button {
	display: none;
}
#header_block {
	max-width: 1000px;
	margin: 0px auto;
	width: 100%;
	padding-left: 10px; /* 左右の空白 */
	padding-right: 10px;
}
.content {
	max-width: 1000px;
	margin: 0px auto;
	padding-left: 10px; /* 左右の空白 */
	padding-right: 10px;
}
#site_title {
	position: static;
	float: left;
	left: 0px;
	right: 0px;
	margin-right: 20px; /* タイトルとメインメニューの間 */
}



#main_menu > nav {
	position: static;
	margin-top: 0px;
	width: 100%;
	z-index: 3;
	background-color: transparent;
}
#main_menu > nav > ul {
}
#main_menu > nav > ul > li {
	margin-top: 35px; /* メインメニュー上部の空白 */
	border-bottom: 0px solid #546F53;
	float: left;
}
#main_menu > nav > ul > li > a:link {
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
	display: block;
}
#main_menu > nav > ul > li > a:visited {
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
	display: block;
}
}
